.idea/.gitignore
.idea/advance_python_workshop.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
01_app/scripts/__pycache__/juls_anim_motion_path.cpython-310.pyc
img/Screenshot 2024-02-11 205716.png
img/window_01.png
