

*.pyc
*.log
.DS_Store
*__pycache__*

.venv/
.idea/.gitignore
.idea/advance_python_workshop.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
~/.vim/autoload/plug.vim
temp
