

*.pyc
*.log

.venv/
maya-scene/anim_walk_cycle.ma
maya-scene/picker_dw.json
maya-scene/picker.cpf
maya-scene/shot_lion_walk.ma
maya-scene/assets/rig/rig_panther.ma
maya-scene/assets/set/set_ground.ma
.idea/.gitignore
.idea/advance_python_workshop.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
~/.vim/autoload/plug.vim
maya-scene/temp_scene.ma
maya-scene/.mayaSwatches/shot_lion_walk.ma.swatches
maya-scene/assets/rig/_rig_panther.ma
maya-scene/assets/rig/.mayaSwatches/rig_panther.ma.swatches
maya-scene/workspace.mel
temp
